@font-face {
  font-family: "gofreight";
  src: url("icon.ttf") format("truetype");
}

.icon {
  font-family: gofreight;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;

}

i:before {
  font-family: gofreight;
  content: '&#xEA01;'
}